#output {
  display: none;
}

.card-title, .card-text {
  text-align: center;
}

form>.btn {
  margin-top: 20px;
  margin-left: 10px;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card>.btn {
  width: 50%;
  margin: 10px auto 10px auto;
}